.App {
  font-family: sans-serif;
  text-align: left;
}

.ReactModal__Content {
  max-width: 800px;
  max-height: 600px;
  margin: 0 auto;
  overflow-y: auto;
}

table {
  border-collapse: collapse;
  width: 100%;
  border: 1px solid #ccc;
}

th,
td {
  text-align: center;
  padding: 8px;
  border: 1px solid #ccc;
}

tr:last-child td {
  border-bottom: none;
}

td:last-child {
  text-align: left;
}

th:first-child {
  font-weight: bold;
  margin-right: 8px;
}

td:first-child {
  text-align: left;
  font-weight: bold;
}